.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.input_button{
  margin-bottom: 10px;
}
.task{
  background-color: #99dcdc;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task_list{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.task_list div{
  display: flex;
  justify-content: center;
  border-right: 1px solid;
  border-left: 1px solid;
  margin-bottom: 5px;
  justify-content: space-around;
}
